services:

  db:
    image: postgres:latest
    expose:
      - "5432"
    env_file:
      - .env.docker
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data


  backend:
    build:
      context: .
      dockerfile: ./docker/django/Dockerfile
    entrypoint: ["sh", "/app/docker/django/server-entrypoint.sh"]
    volumes:
      - .:/app
    expose:
      - "8000"
    env_file:
      - .env.docker
    depends_on:
      - db

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - ./static:/app/static
      - ./media:/app/media
      - ./docker/nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - backend

volumes:
  postgres_data:
  data: